@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section{ 
 display: block; 
} 

body { 
    background-color: #C9C9C9;
}


#container{

    max-width: 416px;
    margin: 0 auto;
    background-color: #F3E789;   
    border: 2px solid #3D402A;

}
