
.imgGallery {
/*    background-color: white; */ 
    height: 220px;
    font-size: 8px;
    padding: 2px;
/*    border: solid 2px blue ; */
    border-spacing: 4px 4px;
/*    margin: 0 auto; */
/*    display:flex; */
    justify-content: center;
    overflow: auto;
}

