
.imgGallery {
/*    background-color: white; */ 
    height: 258px;
    font-size: 8px;
    padding-top: 2px;
/*    border: solid 2px blue ; */
    border-spacing: 4px 4px;
/*    margin: 0 auto; */
/*    display:flex; */
    justify-content: center;
    overflow: auto;
}
.image{
    
    justify-content: center;    
    border-spacing: 0px 0px;
    border: 4px solid yellow;
    justify-content: center;  
    overflow: auto;    
}
