@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section{ 
 display: block; 
} 


.memoryBoard{
    background-color: #BFA;
    padding: 12px;
    border: 2px solid #3D402A;
    
    
}

.memoryTable {
    height: 356px;
    border-spacing: 4px 4px;
    display:flex; 
    justify-content: center;     
}

tbody{
    border-top: 40px solid transparent;
    margin: 10px;
}
td{
    height: 32px;
    width: 32px;
}

.imgCard {
    margin-left: 4px;
    margin-top: 4px;
}