@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");




#content{
    max-width: 960px; 
    margin-left:auto;
    margin-right:auto;
    
}

#container{

    height: 640px;   
    background-color: #E493E8;   
    border: 2px solid #3D402A;

/*    overflow: auto; 
    background-color: #F3E789;   
*/
}

#appArea{

    height: 48px;
    border: 2px solid #3D402A;
/*    opacity: 0.5; */
    margin-top: -46px;
}

.Window{
    height: 200px;
    width: 200px;
    background-color: yellow;   
    border: solid black 1px;
    padding: 4px;
    margin: 4px;
}
.topLabel{
    height: 24px;
    border-bottom: solid black 1px;
    background-color: brown;
}
.bottomLabel{
    height: 24px;   
    border-top : solid black 1px;    
    background-color: brown;
}

.appIcon{
    height: 40px;
    width: 40px;
    border: solid black 1px;
    background-color: yellow;
    overflow: left;
    
}
#memoryIcon{

}