@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section{ 
 display: block; 
} 
body{
    background-color: black;
}

#content{
    max-width: 960px; 
    margin-left:auto;
    margin-right:auto;
    
}

#container{

    height: 640px;   
    background-color: #A2A3AB;   
    border: 2px solid #3D402A;

/*    overflow: auto; 
    background-color: #F3E789;   
*/
}

#appArea{

    height: 56px;
    border: 2px solid #3D402A;
/*    opacity: 0.5; */
    margin-top: -71px;
    border-top: 14px solid black;
}

.Window{
    height: 200px;
    width: 200px;
    background-color: #CDCFD9;   
    border: solid black 1px;
    padding: 4px;
/*    margin: 4px;*/
    position: relative;;
    float: left;
}
#block1 { z-index: 60; position: absolute; top: 26px; left: 160px; margin: 0; padding: 0; }
#block2 { z-index: 50; position: absolute; top: 203px; left: 80px; margin: 0; padding: 0; }

.Window hide{
    display: none;
}
.topLabel{
    height: 24px;
    border-bottom: solid black 1px;
    background-color: #525357;
}
.imgClose {
    width: 16px;
    height: 16px;
    float:right;
    position: relative;
}
.bottomLabel{
    height: 16px;   
    border-top : solid black 1px;    
    background-color: #525357;
    position: relative; bottom: -160px; 
}

.appIcon{
    height: 50px;
    width: 50px;
    border: solid black 1px;
    background-color: yellow;
    float: left;
    margin: 4px;
    
 
}
#memoryIcon{

}
